* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  color: #222222;
  
  a {
    text-decoration: none;
  }

  li {
    list-style-type: none;
  }

  img {
    display: block;
    max-width: 100%;
  }
}