$background-primary: #ffffff;
$background-secondary: #f7f7f7;
$font-main: #7c7c7c;
$font-secondary: #a4a4a4;
$font-body: #222222;
$header-footer: #2c70ff;
$detail-header: #122ab2;
$intelligent: #ae81ff;
$compact: #f9265e;
$economic: #66d9eb;