@import "colors";

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

body {
  color: $font-body;
  font-family: "Nunito", Helvetica, Arial, sans-serif;
  
  a {
    text-decoration: none;
  }

  li {
    list-style-type: none;
  }

  img {
    max-width: 100%;
    display: block;
  }
}