@import "colors";
@import "mixins";
@import "variables";

.superinfo-bg {
  background: $detail-header;
  color: $background-primary;

  div {
    @include flex-properties(space-between);
    max-width: $container;
    margin: 0 auto;
  }

  a, p {
    color: $background-primary;
    margin: 10px;
  }
}

header {
  background-color: $header-footer;

  a {
    color: $background-primary;
  }

  .menu {
    @include flex-properties(space-between);
    max-width: $container;
    align-items: center;
    padding: 15px 0;
    margin: 0 auto;
  }

  .menu-logo {
    a {
      font-size: 2.25em;
      font-weight: bold;
      margin: 0 10px;
    }
  }

  .menu-nav {
    ul {
      @include flex-properties(space-between);
    }

    a {
      display: block;
      font-size: 1.25em;
      padding: 10px;

      &:hover {
        color: $detail-header;
      }
    }
  }
}